.container {
  display: flex;
  justify-content: center;
  word-break: break-all;
  max-width: 100%;
  :global {
    .ant-form-item {
      margin-right: 0;
    }
  }
}

.list {
  max-width: 90%;
}

.item {
  white-space: normal;
}

.content {
  overflow: hidden;
  max-height: 60px;
  max-width: 100%;
  line-height: 20px;
  text-overflow: ellipsis;
}
