.container {
  word-break: break-all;
  max-width: 100%;
}

.item {
  white-space: normal;
}

.content {
  overflow: hidden;
  max-height: 60px;
  max-width: 100%;
  line-height: 20px;
  text-overflow: ellipsis;
}
