.container {
  background: white;
  margin-top: 24px;
  max-width: 100%;
  width: 1000px;
  padding: 0 24px;
  word-break: break-all;
}

.content {
  overflow: auto;
  img {
    max-width: 100%;
  }
}
