.container {
  width: 100%;
  background: white;
  margin-bottom: 24px;
  word-break: break-all;
  :global {
    .ant-list-item-content {
      flex: none;
    }
  }
}

.content {
  overflow: auto;
  img {
    max-width: 100%;
  }
}
