.container {
  width: 100%;
  background: white;
  margin-bottom: 24px;
  word-break: break-all;
}

.content {
  overflow: auto;
  img {
    max-width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
}
