.container {
  width: 100%;
  word-break: break-all;
  margin-bottom: 24px;
  img {
    max-width: 100%;
  }

  :global {
    .ant-card-meta-title {
      white-space: normal;
    }
  }
}

.createTime {
  font-size: 14px;
  line-height: 22px;
}

.visitCount {
  font-size: 14px;
  line-height: 22px;
}
