.container {
  width: 1000px;
  max-width: 100%;
  word-break: break-all;
  margin-bottom: 24px;
  img {
    max-width: 100%;
  }

  :global {
    .ant-card-head-title {
      white-space: normal;
    }
  }
}
