.container {
  max-width: 100%;
  width: 1000px;
}

.item {
  white-space: normal;
}

.content {
  overflow: hidden;
  max-height: 60px;
  max-width: 100%;
  width: 1000px;
  line-height: 20px;
  text-overflow: ellipsis;
}
