.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
}

.content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;
  margin: 24px 24px 0;

  :global {
    .ant-card {
      border-radius: 8px;
    }
    .ant-card-head {
      background: transparent;
    }
    .ant-card-actions {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .ant-list {
      border-radius: 8px;
    }
  }
}
