.container {
  min-height: 100vh;
  max-width: 100%;
}

.header {
  padding: 0 12px 0 0;
  height: auto;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

.content {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: 24px 24px 0;
  max-width: 100%;
}
