// Media queries breakpoints

// Small screen / tablet
$screen-sm: 575.98px;

// Medium screen / desktop
$screen-md: 767.98px;

// Large screen / wide desktop
$screen-lg: 991.98px;

// Extra large screen / full hd
$screen-xl: 1199.98px;
