.container {
  width: 100%;
  background: #fff;
  padding: 0 12px 0 0;
  height: auto;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

.header {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 128px;
  height: 30px;
  float: left;
  margin: 16px 24px 16px 0;
  background: url("../../assets/logo.svg");
}

.menu {
  float: left;
  line-height: 64px;
}

.dropDown {
  :global(.anticon) {
    margin-right: 8px;
  }
}

.account {
  float: right;
  line-height: 64px;
  .avatar {
    margin: 20px 8px 20px 0;
    background: rgba(255, 255, 255, .85);
    vertical-align: middle;
  }
}
