.container {
  text-align: center;

  .link {
    margin-top: 8px;
    a {
      margin-left: 8px;
      color: fade(#000, 65%);
      transition: all 0.3s;

      &:not(:last-child) {
        margin-right: 40px;
      }

      &:hover {
        color: fade(#000, 65%);
      }
    }
  }
}
